@-ms-viewport{ width: device-width; }
@-o-viewport{ width: device-width; }
@viewport{ width: device-width; }

* {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

body {
	background: $primary-bg;
}

.menu {
	padding: 0;
	overflow: hidden;
	
	height: 0;
	margin: 0;
	
	background: $primary-bg;
	@media all and (min-width: $goldilocks) {
		height: auto;
	}
	li {
		padding: 0;
	}
}

.active-menu {
	height: auto;
}

.menu-item {
	padding: 16px 0 0 0;
	border-bottom: 1px solid lighten($secondary-bg, 10);
	border-right: 1px solid lighten($secondary-bg, 3);
	box-shadow: 0 16px 16px -16px rgba(0,0,0, .4); 

	float: left;
	width: 50%;
	height: 48px;
	
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	
	background: $secondary-bg;
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
	@media all and (min-width: $goldilocks) {
		height: 128px;
		width: 100%;
		padding: 96px 0 0 0;
		border-bottom: 1px solid lighten($primary-bg, 10);
		border-left: 1px solid lighten($primary-bg, 10);
		box-shadow: inset 0 1px 0 rgba(0,0,0, 1),
					inset 0 17px 24px -16px rgba(0,0,0, .6),
					0 4px 8px -2px rgba(0,0,0, .4); 
					
		font-size: 12px;
		letter-spacing: .15em;

		background: $primary-bg;
	}
	&:visited, &:link {
		color: white;
		text-decoration: none;
	}
	&:hover, &:active, &:focus {
		background: lighten($primary-bg, 5);
	}	
}

.active-menu-item {
	border-bottom: 1px solid lighten($secondary-active, 10);
	border-left: 1px solid lighten($secondary-active, 10);
	border-top: none;

	background: $secondary-active;
	&:hover, &:active, &:focus {
		background: $secondary-active-hover;
	}	
}

.menu-link {
	display: inline-block;
	width: 100%;
	height: 48px;
	padding:  0px 16px 0 0;
	
	font-size: 32px;
	text-align: right;
	text-decoration: none;
	color: white;
	
	background: $secondary-bg;
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
	&:hover, &:focus, &:active {
		background: $secondary-bg-hover;
	}
	@media all and (min-width: $goldilocks) {
		display: none;
	}
}

nav {
	@include clearfix;

	border-top: 1px solid lighten($secondary-bg, 10);
	border-bottom: 1px solid lighten($secondary-bg, 25);
	box-shadow: 0 1px black,
				0 0px 16px rgba(0,0,0, .8);

	z-index: 9999;
	
	background: $secondary-bg;
	@media all and (min-width: $goldilocks) {
		width: 128px;
		box-shadow: 0 0 32px rgba(0,0,0, .4);
		border: 0;
		
		position: absolute;
		left: 0;
		top: 0;

		background: $primary-bg;
	}
}

.main-header {
	border-bottom: 1px solid lighten($secondary-bg, 20);
	border-top: 1px solid darken($secondary-bg, 0);
	box-shadow: 0 4px 5px -5px rgba(0,0,0, 1); 
	
	position: relative;

	text-align: center;
	@media all and (min-width: $goldilocks) {
		height: 128px;
		padding: 16px 0 0 64px;
		border-bottom: 1px solid lighten($primary-bg, 10);
		border-top: 1px solid darken($primary-bg, 0);
		box-shadow: 0 4px 5px -5px rgba(0,0,0, 1); 

		margin-left: 128px;
		
		text-align: left;
	}
}

article {
	@include select;
}

.wrapper {
	@include no-select;
	
	min-width: 320px;
	overflow: hidden;
	
	margin: 0 auto;
	@media all and (min-width: $goldilocks) {
		width: auto;
		max-width: 648px;
	
		margin-left: 128px;
	}
}

.widget {
	min-height: 88px;
	max-width: 320px;

	position: relative;
	margin: 0 auto;
	
}

.label {
	height: 100%;
	width: 88px;
	padding: 36px 0 0 8px;
	
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	@media all and (min-width: $goldilocks) {
		width: 100%;
		padding: 32px 0;

		position: relative;

		text-align: center;
	}
}

.controls {
	@include clearfix;
	min-height: 88px;
	padding: 16px;
	
	position: relative;
	@media all and (min-width: $goldilocks) {
		width: 100%;
		padding: 0 16px;
	}
}

.label + .controls {
	margin: 0 0 0 88px;
	@media all and (min-width: $goldilocks) {
		margin: 0;
	}
}

.counter {
	@include clearfix;
	width: 50%;

	float: left;

	text-align: center;
	&:last-child {
		.name {
			padding: 54px 8px 48px 8px;
		}
	}
}

.name {
	width: 25%;
	padding: 54px 8px 48px 0;
	
	float: left;
	margin: 0;

	text-align: right;

}

.counter-container {
	width: 75%;

	float: right;
}

.border-radius-preview {
	height: 300px;
	max-width: 540px;

	position: relative;
	margin: 0 auto;
	.preview {
		height: 96px;
		border: 1px solid $preview-border;
		box-shadow: 0 0 16px rgba(0,0,0, .4);
		
		position: relative;
		top: 100px;
		margin: 0 96px;
		
		background: $preview-bg;
	}
	.counter {
		width: auto;
		padding: 0;
		&:last-child {
			padding: 0;
		}
	}
	.counter-container {
		width: auto;
	}
	.top-left {
		position: absolute;
		left: 16px;
		top: 16px;
	}
	.top-right {
		position: absolute;
		right: 16px;	
		top: 16px;
	}
	.bottom-left {
		position: absolute;
		left: 16px;
		bottom: 16px;
	}
	.bottom-right {
		position: absolute;
		right: 16px;	
		bottom: 16px;
	}
}

.preview-container {
    height: 180px;
    border-radius: 4px;
    border: 1px solid $preview-container-border;
    overflow: hidden;
    
    position: relative;
    margin: 16px;

    background: $preview-container-bg;
    @media all and (min-width: $goldilocks) {
    	margin: 16px 48px;
    }
}

.box-shadow-preview {
	@extend .preview-container;
	.preview {
		height: 96px;
		border: 1px solid $preview-border;
		box-shadow: 0 0 16px rgba(0,0,0, .4);

		position: relative;
		top: 40px;
		margin: 0 96px;
		
		background: $preview-bg;
	}
}

.text-shadow-preview {
	@extend .preview-container;
	.preview {
		height: 96px;
		
		position: relative;
		top: 48px;
		margin: 0 auto;

		font-size: 28px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
	}
}

.columns-preview {
	@extend .preview-container;
	padding: 16px;
	.preview {
		position: relative;
		margin: 0 auto;

		font-size: 10px;
		line-height: 1.5;
		font-weight: bold;
	}
}

.content {
	padding: 16px;
	@media all and (min-width: $goldilocks) {
		padding: 16px 64px;
	}
}

.control-panel {
	@include clearfix;
	margin: 0 auto;
	@media all and ( min-width: $goldilocks) {
		margin: 0 auto 64px auto;
		&:before {
			content: ' ';

			display: block;
			width: 100%;
			height: 32px;
			border-bottom: 1px solid lighten($primary-bg, 10);
			border-top: 1px solid darken($primary-bg, 0);
			box-shadow: 0 4px 5px -5px rgba(0,0,0, 1); 

			position: absolute;
			top: 172px;
			left: 0;
			
		}
	}
}

.border-radius-controls {
	@media all and (max-width: $goldilocks) {
		.widget {
			border-bottom: 1px solid lighten($primary-bg, 10);
			box-shadow: 0 4px 5px -5px rgba(0,0,0, 1); 
			&:last-child {
				border: 0;
				box-shadow: none;
			}
		}
	}
	@media all and (min-width: $goldilocks) {
		max-width: 360px;

		margin: 0 auto;
		.control-panel {
			margin: 0 auto;
		}
		.widget {
			width: 50%;
			border-right: 1px solid lighten($primary-bg, 10);
			
			float: left;
			&:last-child {
				border: 0;
			}
		}
	}
}


.box-shadow-controls {
	max-width: 590px;

	margin: 0 auto;
	@media all and (max-width: $goldilocks) {
		.widget {
			border-bottom: 1px solid lighten($primary-bg, 10);
			box-shadow: 0 4px 5px -5px rgba(0,0,0, 1); 
			&:last-child {
				border: 0;
				box-shadow: none;
			}
		}
	}
	.blur-counter, .spread-counter {
		display: none;
	}
	@media all and (min-width: $goldilocks) {
		.widget {
			border-right: 1px solid lighten($primary-bg, 10);

			float: left;
			width: 50%;
			&:last-child {
				border: 0;
			}
		}
		.slider {
			display: none;
		}
		.blur-counter, .spread-counter {
			display: block;
		}
		.blur, .spread {
			.controls {
				padding: 0;
			}
			.counter {
				float: none;
				width: auto;
			}
			.counter-container {
				width: auto;
				float: none;
			}
			.slider {
				display: none;
			}
		}
	}
	@media all and (min-width: $babybear) {
		.widget {
			float: left;
		}
		.inset {
			width: 160px;
		}
		.direction {
			width: 230px;
		}

		.blur, .spread {
			width: 96px;
		}
	}
}

.text-shadow-controls {
	@media all and (max-width: $goldilocks) {
		.widget {
			border-bottom: 1px solid lighten($primary-bg, 10);
			box-shadow: 0 4px 5px -5px rgba(0,0,0, 1); 
			&:last-child {
				border: 0;
				box-shadow: none;
			}
		}
	}
	@media all and (min-width: $goldilocks) {
		max-width: 500px;

		margin: 0 auto;
		.widget {
			width: 50%;
			border-right: 1px solid lighten($primary-bg, 10);

			float: left;
			&:last-child {
				border: 0;
			}
		}
	}
}

.column-controls {
	@media all and (max-width: $goldilocks) {
		.widget {
			border-bottom: 1px solid lighten($primary-bg, 10);
			box-shadow: 0 4px 5px -5px rgba(0,0,0, 1); 
			&:last-child {
				border: 0;
				box-shadow: none;
			}
		}
	}
	@media all and (min-width: $goldilocks) {
		max-width: 500px;

		margin: 0 auto;
		.widget {
			width: 50%;
			border-right: 1px solid lighten($primary-bg, 10);

			float: left;
			&:last-child {
				border: 0;
			}
		}
		.counter-container {
			width: auto;

			float: none;

		}
		.counter {
			width: auto;

			float: none;
			margin: 0 auto;
		}
	}
}

.snippet-list {
	padding: 0;

	margin: 0;
	li { 
		@include clearfix;

		padding: 8px 0;

		list-style: none; 
		&:last-child {
			margin: 0 0 44px 0;
		}
	}
}

//WIDGETS
.copy-field {
	height: 120px;
}

.copy-text-field {
	margin: 0;
	float: left;
	width: 40%;
	@media all and (min-width: $babybear) {
		width: 60%;
	}
}

.slider {
	@media all and (min-width: $goldilocks) {
		margin: 64px 0 0 0;
	}
}

.copy-button {
	max-width: 320px;
}

.unit-switch {
	top: 12px;
	margin: 0 auto;
	@media all and (min-width: $goldilocks) {
		margin: 44px 0;
	}
}

.onoff-switch {
	top: 12px;
	margin: 0 auto;
	@media all and (min-width: $goldilocks) {
		margin: 44px 0;
	}
}

.field {
	height: 40px;
	width: 64px;
}

pre {
	height: auto;
}

.copy-helper {
	display: none;
	@media all and (min-width: $goldilocks) {
	    width: 320px;
	}
}

.js .snippet-list {
	display: none;
}

.snippet-link {
	width: 60%;
	float: left;
	@media all and (min-width: $babybear) {
	    width: 40%;
	}
}
