@mixin border {
	position: relative;
	&:after, &:before {
		content: ' ';
		position: absolute;
		top: 100%;
		left: 0;
		margin-top: 1px;
		background: rgba(0,0,0, .4);
		height: 1px;
		width: 100%;
	}
	&:before {
		background: rgba(255,255,255, .3);
		margin-top: 0;
	}
}

@mixin no-select {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

@mixin select {
   -moz-user-select: -moz-all;
   -khtml-user-select: all;
   -webkit-user-select: all;
   -ms-user-select: all;
   user-select: all;
}

@mixin image-replace {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

@mixin clearfix {
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

@mixin switch($on, $off) {
    display: block;
    width: 136px;
    height: 38px;
    padding: 3px 0;

    position: relative;

    -webkit-touch-callout: none;
    &:focus label i:after, &:hover label i:after{
        background: $primary-widget-bg-hover;
    }
    input {
        width: 136px;
        height: 54px;

    	position: absolute;
        top: -6px;
        z-index: 100;

        opacity: 0;
    	cursor: pointer;

    	&:checked  ~ label i {
            right: -2px;
            left: auto;
    	}
        //Switch On and Off states when Checked
    	&:checked  ~ label i:before {
    		content: $on;
    		right: 130%;
    	}   	
    	&:checked  ~ label i:after {
    		content: $off;
    	}
    }
    label {
        display: block;
        width: 100%;
        height: 100%;
        border: $primary-widget-off-border;
        border-radius: 3px;
        
        position: relative;
        
        background: $primary-widget-off-bg;
    	i {
            //The On state
    		display: block;
    		height: 38px;
    		width: 72px;
    		border-radius: 2px;

            position: absolute;
            top: -5px;
            left: -2px;
            z-index: 2;
            
            background: -webkit-linear-gradient(270deg, #ffffff 0%,#009245 100%);
            background: linear-gradient(180deg, #ffffff 0%,#009245 100%);
    		&:after {
                //The On state content
    			content: $on;

    			width: 70px;
                height: 22px;
                padding: 8px 0 6px 0;
                border-radius: 2px;
                
                font-family: $primary-widget-font;
                font-size: $primary-widget-font-size;
                color: $primary-widget-text-color;
                font-style: normal;
                text-align: center;
                text-shadow: $primary-widget-text-shadow;
                
                position: absolute;
                left: 1px;
                top: 1px;

                background: $primary-widget-bg;
                -webkit-transition: background 0.3s ease;
                transition: background 0.3s ease;
    		}
    		&:before {
                //The Off state content
    			content: $off;

                position: absolute;
                top: 60%;
                right: -55%;
    			margin: -14px 0 0 0;
    			
                font-family: $primary-widget-font;
                font-size: $primary-widget-font-size;
                color: $primary-widget-off-text-color;
                font-style: normal;
    		}
    	}
    }
}

@mixin triangle($direction) {
    $top: 0;
    $left: 0;
    $second-top: 0;
    $second-left: 0;
    $margin: 0;

    @if $direction == 'up'{
        $top: 8px;
        $left: 2px;
        $second-top: 9px;
        $second-left: 3px;
        $margin: 16px auto 8px auto;
    } @if $direction == 'down' {
        $top: -20px;
        $left: 2px;
        $second-top: -19px;
        $second-left: 3px;
        $margin: 10px auto 6px auto;
    }
    @include image-replace;

    display: block;
    width: 36px;
    height: 18px;
    overflow: hidden;
    
    position: relative;
    margin: $margin;
    -webkit-transform: scale(1, 1.5);
    -ms-transform: scale(1, 1.5);
    transform: scale(1, 1.5);
    
    cursor: pointer;
    -webkit-touch-callout: none;
    &:before {
        //Gradient Border
        content: ' ';

        width: 32px;
        height: 32px;

        @if $direction == 'up' {
            background: -webkit-linear-gradient(135deg, #ffffff 0%,#009245 50%, #ffffff 100%);
            background: linear-gradient(135deg, #ffffff 0%,#009245 50%, #ffffff 100%);
        }
        @if $direction == 'down' {
            background: -webkit-linear-gradient(135deg, #009245 0%,#ffffff 50%, #009245 100%);
            background: linear-gradient(135deg, #009245 0%,#ffffff 50%, #009245 100%);
        }

        position: absolute;
        top: $top;
        left: $left;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after {
        //Inner Color
        content: ' ';

        width: 30px;
        height: 30px;

        position: absolute;
        top: $second-top;
        left: $second-left;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        
        background: $primary-widget-bg;
        -webkit-transition: background 0.3s ease;
        transition: background 0.3s ease;
    }
    &:hover:after {
        background: $primary-widget-bg-hover;
    }
}

@mixin disabled-triangle($direction) {
    $top: 0;
    $left: 0;
    $second-top: 0;
    $second-left: 0;
    $margin: 0;

    @if $direction == 'up'{
        $top: 24px;
        $left: 2px;
        $second-top: 25px;
        $second-left: 3px;
        $margin: -16px auto 8px auto;
    } @if $direction == 'down' {
        $top: -20px;
        $left: 2px;
        $second-top: -19px;
        $second-left: 3px;
        $margin: 10px auto 8px auto;
    }
    
    cursor: auto;
    &:before {
        @if $direction == 'up' {
            background: -webkit-linear-gradient(135deg, darken(#ffffff, 40) 0%, darken(#009245, 20) 50%, darken(#ffffff, 40) 100%);
            background: linear-gradient(135deg, darken(#ffffff, 40) 0%, darken(#009245, 20) 50%, darken(#ffffff, 40) 100%);
        }
        @if $direction == 'down' {
            background: -webkit-linear-gradient(135deg, darken(#009245, 20) 0%, darken(#ffffff, 40) 50%, darken(#009245, 20) 100%);
            background: linear-gradient(135deg, darken(#009245, 20) 0%, darken(#ffffff, 40) 50%, darken(#009245, 20) 100%);
        }
    }
    &:after {
        background: $primary-widget-bg-disabled;
    }
    &:hover:after {
        background: $primary-widget-bg-hover-disabled
    }
}


@mixin button {
    display: block;
    width: 100%;
    padding: 12px 0;
    border-radius: 3px;
    
    position: relative;
    margin: 0 auto 8px auto;

    font-size: $primary-widget-font-size;
    text-align: center;
    text-decoration: none;
    color: $primary-widget-text-color;
    text-shadow: $primary-widget-text-shadow;
    
    background-color: $primary-widget-bg;

    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    &:before {
        content: ' ';

        width: 100%;
        height: 100%;
        padding: 1px;
        border-radius: 3px;

        position: absolute;
        top: -1px;
        left: -1px;
        z-index: -1;
        
        background: -webkit-linear-gradient(270deg, #ffffff 0%,#009245 100%);
        background: linear-gradient(180deg, #ffffff 0%,#009245 100%);
    }
    &:focus, &:hover{
        background: $primary-widget-bg-hover;
    }
}

@mixin slider {
    -webkit-appearance: none !important;
    height: 12px;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 0 16px rgba(255,255,255, 0.3);
    box-sizing: content-box;
    overflow: visible;

    width: 100%;
    margin: 24px 0;
    &::-ms-tooltip { 
        display: none; 
    }
    &::-ms-track, &::-ms-fill-lower  {
        color: white;
        height: 12px;
        overflow: visible;
        border-radius: 6px;
        border: 0;
        background: white;
    }
    &::-ms-thumb {
        border-radius: 50%;

        width: 32px;
        height: 32px;

        background-color: transparent;
        background: $primary-widget-bg;
        cursor: pointer;
        transition: background 0.3s ease;
        &:before {
            content: ' ';

            width: 100%;
            height: 100%;
            padding: 1px;
            border-radius: 50%;

            position: absolute;
            top: -1px;
            left: -1px;
            z-index: -1;
            
            background: -webkit-linear-gradient(270deg, #ffffff 0%,#009245 100%);
            background: linear-gradient(180deg, #ffffff 0%,#009245 100%);
        }
    }
    &:active::-ms-thumb {
        border: 0;
    }
    &::-webkit-slider-thumb{
        -webkit-appearance: none !important;
        background-color: transparent;
        background: $primary-widget-bg;

        border: 0;
        border-radius: 50%;
        
        height: 32px;
        width: 32px;

        cursor: pointer;
        -webkit-transition: background 0.3s ease;
        transition: background 0.3s ease;
        &:focus, &:hover {
            background: $primary-widget-bg-hover;
        }
        &:before {
            content: ' ';

            width: 100%;
            height: 100%;
            padding: 1px;
            border-radius: 50%;

            position: absolute;
            top: -1px;
            left: -1px;
            z-index: -1;
            
            background: -webkit-linear-gradient(270deg, #ffffff 0%,#009245 100%);
            background: linear-gradient(180deg, #ffffff 0%,#009245 100%);
        }
    }
}

@mixin field {
    padding: 8px;
    border: $primary-widget-field-border;
    border-radius: 0;

    width: 100%;
    height: 44px;

    font: $primary-widget-field-font;
    color: $primary-widget-field-text-color;

    background: $primary-widget-field-bg;

    resize: none;
}

@mixin textfield {
    border-radius: 0;
    border: $primary-widget-textfield-border;
    
    margin: 8px auto;

    text-align: center;
    color: $primary-widget-textfield-text-color;

    background: $primary-widget-textfield-bg;
}

@mixin copy-helper {
    padding: 8px;
    height: 38px;
    
    position: absolute;
    margin: -48px 0 0 0;
    z-index: 9999;

    background: $secondary-bg;
    @include no-select;
    &:after {
        //Arrow down
        content: ' ';

        display: block;
        width: 0px;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;
        border-top: 16px solid $secondary-bg;
        
        position: relative;
        top: 7px;
    }
}

@mixin truncate-ellipsis { 
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

@mixin snippet-title {
    @include truncate-ellipsis;
    
    display: inline-block;
    width: 100%;
    height: 44px;
    padding: 0 4px;
    overflow: hidden;
    
    font-size: $primary-widget-font-size;
    line-height: 44px;
    color: $primary-widget-field-text-color;
    text-decoration: none;
}

