@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/websymbols-regular-webfont.woff') format('woff'),
         url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { -webkit-font-smoothing: antialiased; }

body {
  font-family: "Ubuntu", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	color: $body-text-color;
	font-size: 14px;
	line-height: 1.5;
}

h1 {
	font-size: 32px;
	font-weight: 400;
	margin: 0;
	padding: .5em 0 .3em 0;
	text-shadow: 0 0 64px $heading-shadow-color;
	@media all and (min-width: $goldilocks) {
		font-size: 48px;
		text-shadow: 0 0 64px $heading-shadow-color;
    max-width: 648px;
	}
}

h2 {
	font-weight: 400;
}

a, a:link, a:visited {
	color: white;
}

a:active, a:focus, a:hover {
	color: gray;
}