.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.increment {
	@include triangle('up');
}

.decrement {
	@include triangle('down');
}

.disabled-increment {
	@include disabled-triangle('up');
}

.disabled-decrement {
	@include disabled-triangle('down');
}

.label, .name {
	text-shadow: $label-shadow;
	line-height: 1;
}

.snippet-header {
	@include button;
	@include no-select;
}

.download-link {
	&:before {
		content: 'F';
		font-family: 'WebSymbolsRegular';
		font-size: 14px;
		position: relative;
		top: -3px;
		display: inline-block;
		width: 24px;
	}
}

.external-link {
	&:before {
		content: 'D';
		font-family: 'WebSymbolsRegular';
		font-size: 14px;
		position: relative;
		top: -3px;
		display: inline-block;
		width: 24px;
	}
}

.snippet-link {
	@include no-select;
	color: $primary-widget-text-color;
	&:hover {
		color: $primary-widget-text-color;
	}
}

.copy-field {
	@include field;
}

.copy-text-field {
	@include field;
}

.slider {
	@include slider;
}

.copy-button {
	@include button;
	@include no-select;
}

.unit-switch {
	@include switch('%', 'Px');
}

.onoff-switch, .inset-switch {
	@include switch('Off', 'On');
}

.field {
	@include textfield;
}

.disabled-field {
	background: lightgray;
}

code, pre {
    font-family: 'Monaco', 'Andale Mono', 'Courier New', monospace;
}

pre {
	@include field;
	color: darken($primary-widget-field-text-color, 20);
    code {
    	font-size: 11px;
    	padding: 0;
    }
}

.copy-helper {
	@include copy-helper;
}

.snippet-link {
	@include snippet-title;
}
